@page
@model RazorPagesTest2.Pages.CalendarModel
@{
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">




<form method="post">
    @Html.TextBoxFor(model => model.date, new { @id = "datepicker", name = "date", onChange = "this.form.submit()" })
</form>



<br />

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.movies[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.movies[0].hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.movies[0].duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.movies)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                <a asp-page="./Booking" asp-route-id="@item.title">Booking</a>
            </td>
        </tr>
        }
    </tbody>
</table>




@section scripts{

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>

        $(function () {
            $("#datepicker").datepicker();
        });

    </script>
}