@page
@model RazorPagesTest2.Pages.MoviesModel
@{
}


<h1>Movies</h1>

<!--
<form>
    <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

    -->

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movie)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.duration)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.title">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
